<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proposta comercial</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- Font-Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-size: 11px;
    }
    .containerTitle {
      margin-inline: 32px;
    }
    .classTop {
      border-top: 28px solid #1a562e;
      border-bottom: 2px solid #1a562e;
      margin-bottom: 16px;
      margin-top: 18px;
    }
    label {
      font-weight: bold;
      padding-bottom: 0;
    }
    table {
      font-size: 10px;
      text-align: center;
    }
    tableLine {
      border-bottom: 1px solid #000;
    }
    .textDesc {
      font-weight: bold;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.4;
    }
  </style>
  <body>
    <div style="height: 86.156vh">
      <header class="classTop">
        <div class="row justify-content-between containerTitle">
          <div class="col ms-3 align-self-end">
            <spam style="font-size: 28px">Proposta comercial</spam>
          </div>
          <div class="col-3 align-self-end p-1 m-1">
            <img
              src=<%=url%>
              alt=<%=logo.alt%>
              width="115"
              style="height: <%=logo.height%>; margin: <%=logo.margin%>;"
            />
          </div>
        </div>
      </header>
      <section class="containerTitle">
        <div class="">
          <div class="row">
            <div class="col">
              <label>Data da proposta</label>
              <p><%=datePop%></p>
            </div>
            <div class="col">
              <label>N° proposta</label>
              <p><%=nPedido%></p>
            </div>
            <div class="col">
              <label>N° Business</label>
              <p><%=business %></p>
            </div>
            <div class="col">
              <label>N° pagina</label>
              <p><%=pagina%></p>
            </div>
            <div class="col-3">
              <label>Data da coleta</label>
              <p>7 dias uteis apos a confirmação do pedido</p>
            </div>
            <div class="col">
              <label>Frete</label>
              <p><%=frete%></p>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="row justify-content-around">
            <p class="textDesc" style="font-size: 13px">Fornecedor</p>
            <div class="col">
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Razão:</p>
                <p><%=fornecedor.razao%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Fantasia:</p>
                <p><%=fornecedor.fantasia%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">CNPJ:</p>
                <p><%=fornecedor.cnpj%></p>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">End:</p>
                <p><%=fornecedor.endereco%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Cidade/Uf:</p>
                <p><%=fornecedor.cidade%> - <%=fornecedor.uf%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Tel:</p>
                <p><%=fornecedor.tel%></p>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Email:</p>
                <p><%=fornecedor.email%></p>
              </div>
            </div>
          </div>
          <div class="row justify-content-around mt-2">
            <p class="textDesc" style="font-size: 13px">Cliente</p>
            <div class="col">
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Razão:</p>
                <p><%=cliente.nome%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Fantasia:</p>
                <p><%=cliente.fantasia%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">CNPJ:</p>
                <p><%=cliente.CNPJ%></p>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">End:</p>
                <p><%=cliente.endereco%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Cidade/Uf:</p>
                <p><%=cliente.cidade%> - <%=cliente.uf%></p>
              </div>
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Tel:</p>
                <p><%=cliente.fone%></p>
              </div>
            </div>
            <div class="col">
              <div class="d-flex flex-row gap-1">
                <p class="textDesc">Email:</p>
                <p><%=cliente.email%></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="containerTitle"
        style="height: 36vh; max-height: 36vh; margin-top: 25px; margin-inline: 16px"
      >
        <table class="table">
          <thead
            style="font-size: 9px; background-color: #1a562e; color: white"
          >
            <th style="width: 3px">#</th>
            <th style="width: 200px">Modelo</th>
            <th style="width: 750px">Descrição</th>
            <th style="width: 90px">Comprir.</th>
            <th style="width: 90px">Largura</th>
            <th style="width: 90px">Altura</th>
            <th style="width: 120px">Qtd.</th>
            <th style="width: 280px">Valor Un.</th>
            <th style="width: 90px">Expo.</th>
            <th style="width: 90px">Mont.</th>
            <th style="width: 340px">Valor Total</th>
          </thead>
          <tbody>
            <% if (itens.length >0) {%> <% itens.forEach((i, x) => {%>
            <tr key="<%=x%>">
              <td><%=x + 1%></td>
              <td><%=i.modelo%></td>
              <td><%=i.nomeProd%></td>
              <td><%=i.comprimento%></td>
              <td><%=i.largura%></td>
              <td><%=i.altura%></td>
              <td><%=i.Qtd%></td>
              <td>
                <%=parseFloat(i.vFinal).toLocaleString('pt-BR', {style:
                'currency', currency: 'BRL'})%>
              </td>
              <td><%=i.expo === true ? "SIM" : "NÃO" %></td>
              <td><%=i.mont === true ? "SIM" : "NÃO" %></td>
              <td>
                <%=i.total.toLocaleString('pt-BR', {style: 'currency', currency:
                'BRL'})%>
              </td>
            </tr>
            <% });%> <% } %>
          </tbody>
        </table>
      </section>
      <section
        style="
          background-color: #1a562e;
          color: white;
          padding-bottom: 5px;
          padding-top: 3px;
          margin-bottom: 5px;
        "
      >
        <div class="containerTitle">
          <div class="row justify-content-around">
            <div class="col">
              <p class="textDesc me-1" style="font-size: 13px">
                Condições de Pagamento:
              </p>
              <div class="row justify-content-between" style="font-size: 12px">
                <div class="col">
                  <div class="d-flex flex-row align-items-center gap-1">
                    <p class="textDesc">Tipo:</p>
                    <p><%=condi%></p>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex flex-row align-items-center gap-3">
                    <p class="textDesc">Prazo:</p>
                    <p><%=prazo%></p>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex flex-row align-items-center gap-3">
                    <p class="textDesc">Vencimento</p>
                    <p><%=venc%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="containerTitle" style="height: 12vh">
        <div class="row justify-content-between">
          <div class="col-9" style="font-size: 10px">
            <div class="row">
              <div class="col-1">
                <h2
                  style="
                    font-size: 13px;
                    font-weight: bold;
                    text-decoration: underline;
                    margin-bottom: 0;
                  "
                >
                  Obs:
                </h2>
              </div>
              <div class="col">
                <p class="textDesc">
                  Esta Proposta comercial tem validade até <%=venc%>
                </p>
                <p>
                  As mandagens são enviadas desmontadas, <br />
                  para envio das embalegens mantada há uma acréscimo de
                  <label>10%</label>.
                </p>
                <p>A montagen deve ser solicitada no ato da cotação.</p>
              </div>
            </div>
            <div
              style="
                margin-top: 5px;
                border-top: 2px solid #1a562e;
                padding: 1px;
                padding-top: 6px;
                height: 90px;
                max-height: 91px;
              "
            >
              <p style="margin-left: 10px;">
                <%=obs%>
              </p>
            </div>
          </div>
          <div class="col-2 align-self-end">
            <h2 style="font-size: 20px; font-weight: bold; text-align: end">
              Total
            </h2>
            <p style="font-size: 17px; text-align: end; font-weight: 500; padding-bottom: 8px;">
              <%=totoalGeral%>
            </p>
          </div>
        </div>
      </section>
    </div>

    <footer
      style="
        height: 11vh;
        background-color: #1a562e;
        color: white;
        font-size: 9px;
      "
    >
      <div class="row containerTitle">
        <div class="col-12">
          <h2
            style="font-size: 13px; margin-top: 13px; text-transform: uppercase"
          >
            Ribermax Embalagens
          </h2>
        </div>
        <div class="row">
          <div class="col">
            <span class="fw-bold">Contato comercial</span>
            <p>Tel: (16) 99765-5543 Jesuilla (Comercial)</p>
            <p>Tel: (11) 98284-3965 Cláudia (Comercial)</p>
            <p>E-mail: contato@ribermax.com.br</p>
            <p>E-mail: claudia@wynn.com.br</p>
          </div>
          <div class="col">
            <span class="fw-bold">Contato comercial</span>
            <p>
              End: Rua Áustria, 585 - Vila Elisa - 14075-430 Ribeirão Preto SP.
            </p>
            <div>
              <label>Acesse nosso catalogo de produtos em:</label>
              <p>www.ribermax.com.br/produtos</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
